
.ModalBackground {
    background-color: rgba(32,35,41,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.ModalBackground-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo difuminado */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
.ModalBackground-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    max-width: 500px;
    width: 100%;
    z-index: 1001;
    position: relative;
    animation: slide-in 0.3s ease-out; /* Animación de entrada */
}
  
  /* Animación de entrada */
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
} 